<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <base href="/"> 
    
</head>
<body>
    <h1>Pastebin</h1>
    <button onclick="window.location.href='/postPaste'" class="btn btn-primary">+Paste</button>
     <button onclick="window.location.href='/pastes'" class="btn btn-primary">Your pastes</button>
</body>
</html>